// text color 
$tcolor-white: #FFFFFF;
$tcolor-black_grey: #333333;
$tcolor-light_grey: #86878B;
$tcolor-black: #000000;
// backgraund color
$bcolor-black: #000000;
$bcolor-black_grey: #333333;
$bcolor-light_grey:#E2E2E2;
$bcolor-white_grey: #F5F5F5;
$bcolor-white: #FFFFFF;
$bcolor-light_orange: #EC7979;
$bcolor-orange_button_active: #AB4949;
